.container{
    max-width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(196, 196, 196, 0.2);
}
.menu__content{
    align-items: center;
}
.menu__content li{
    margin-right: 34px;      
   
}
.header__logo__img{
    width: 21px;
    height: 24px;
    margin-left: 100px;
    
}
.header__content{
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    font-size: 18px; 
       
}
.menu__button{
    background: rgba(255, 255, 255, 0.1);
    border: 3px solid #323232;
    box-sizing: border-box;
    font-family: "Montserrat";
    font-style: normal;
    font-size: 18px;
    width: 193px;
    height: 38px;
    color: #FFFFFF
}
